# Data Extraction and Manipulation
yfinance>=0.2.40
pandas>=2.0.0
numpy>=1.24.0

# Visualization
matplotlib>=3.7.0
seaborn>=0.12.0

# Statistical Modeling and Testing
statsmodels>=0.14.0
pmdarima>=2.0.0

# Machine Learning and Deep Learning
scikit-learn>=1.3.0
tensorflow>=2.15.0

# Jupyter Notebook Support
ipykernel